<!doctype html>

<html lang='en'>
<head>
<meta charset='utf-8'>

<title>Cat Burgers: Burgers for Cats</title>
<meta name='description' content='Eat Burgers'>
<meta name='author' content='Plover Brown'>
<script src="https://code.jquery.com/jquery.js"></script>
<link rel='stylesheet' href='/assets/css/style.css'>
</head>

<body>

    {{{ body }}}

<script src='/assets/js/scripts.js'></script>
</body>
</html>