<h1>Cat Burgers!</h1>


<div class="create-group">
    <figure class="cat-box">
        <img src="/assets/images/catwithburger.png" alt="cartoon cat with burger" id="cat-image">
    </figure>
    <div class="text-divs">
        <h2>Add a Burger</h2>
        <form class="create-form">

            <div class="form-group">
                <label for='bu'>Burger name:</label>
                <input type='text' id='bu' name='name'>
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>

<figure id="burgercat"><img src="/assets/images/cateats.png" alt="cartoon cat eating a burger"></figure>

<div class="burger-box">
    <div class="uneaten-column">
        <h2>Orders Ready:</h2>

        <ol>
            {{#each burgers}}
                {{#unless eaten}}
                    {{> burger-block eaten=true}}
                {{/unless}}
            {{/each}}
        </ol>
    </div>

    <div class="eaten-column">
        <h2>Memories of Burgers Past:</h2>

        <ol>
            {{#each burgers}}
                {{#if eaten}}
                    {{> burger-block eaten=false}}
                {{/if}}
            {{/each}}
        </ol>
    </div>
</div>