/* WHOLE PAGE */
body {
    /* Photo by Frank Cone from Pexels */
    background-image: url("../images/pexels-frank-cone-3279307.jpg");
    background-size: cover;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

button {
    border-radius: 8px;
    border: none;
    padding: 6px;
    background-color: rgb(122, 6, 113);
    color: whitesmoke;
}




/* CREATE GROUP */
.create-group {
    display: flex;
    justify-content: space-around;
    background-color: rgba(6, 134, 134, .5);
    margin: 20px;
    border-radius: 15px;
    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
}

/* RIGHT SIDE */
.text-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-form {
    margin-top: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

h1{
    font-size: 80px;
    text-shadow:  0 0 30px #a32fe6, 0 0 5px #0000FF;
    z-index: 1000;
    margin-top: 130px;
}

.create-form label {
    margin-right: 8px;
    font-size: larger;
}

.create-form input {
    margin-right: 8px;
    height: 30px;
}

/* LEFT SIDE */
.cat-box {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cat-image {
    width: 200px;
    height: 200px;
}



/* BURGER LISTS */
.burger-box {
    display: flex;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 60px;
}

h2 {
    font-size: 40px;
    text-shadow:  0 0 3px #FF0000, 0 0 5px #0000FF;
    z-index: 1000;
}

.uneaten-column {
    background-color: rgba(255, 194, 61, 0.5);
}

.eaten-column {
    background-color: rgba(86, 47, 177, 0.5);
}

.eaten-column, .uneaten-column {
    border-radius: 15px;
    width: 48%;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

ol {
    z-index: 1000;
    font-weight: bolder;
    text-shadow:  0 0 30px #a32fe6, 0 0 5px #ff15e0;
}

li {
    padding: 3px;
    font-size: 25px;
    margin-right: 30px;
    margin-bottom: 4px;
    width: max-content;
    z-index: 1000;
    color: black;
}

li div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: inherit;
}

li p {
    margin-bottom: 4px;
    z-index: inherit;
}

li p:nth-of-type(2), li p:nth-of-type(3) {
    margin-top: 0px;
}



/* IMAGES */
#rightcat {
    right: -50px;
    top: -30px;
}

#leftcat {
    left: -50px;
    top: -30px;
}

#rightcat, #leftcat {
    position: fixed;
}

#rightcat img, #leftcat img {
    width: 200px;
}

#burgercat {
    position: absolute;
    width: min-content;
    height: min-content;
    top: 600px;
    left: -100px;
    z-index: 1;
    visibility: hidden;
}

#burgercat img {
    height: 350px;
}

/* .speech img {
    opacity: 0.8;
} */

.speech {
    display: none;
    z-index: 10001;
}

#speechbubbleright1 {
    position: fixed;
    left: 10px;
    top: 750px;
}
#speechbubbleright2 {
    position: fixed;
    left: 2px;
    top: 350px;
}
#speechbubbleright3 {
    position: fixed;
    left: 10px;
}
#speechbubbleright4 {
    position: fixed;
    left: 10px;
    top: 100px;
}
#speechbubbleleft1 {
    position: fixed;
    right: 10px;
    top: 150px;
}
#speechbubbleleft2 {
    position: fixed;
    right: 10px;
    top: 450px;
}
#speechbubbleleft3 {
    position: fixed;
    right: 10px;
    top: 700px;
}